.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note{
    font-size: 15px;
    color: aquamarine;
}

body{
    background-size: cover;
}


canvas{
    font-size: 30px;
    box-shadow: 9px 10px 90px blue;
    border: 324px solid coral;
    padding: 11px;
    margin: 12px;
    border-radius: 90px;
}

.divspeed{
    float: middle;
}

.divspeeeeeeeeeeeeed_img{
    width: 200px;
    border-radius: 100px;
}

#GAGASGAS{
    font-size: 23px;
    margin: 15px;
}




